---
wildfly-configuration:
  system-property:
    JBOSS_ID:
      value: "{{ wildfly_instance_name }}"
  subsystem:
    messaging-activemq:
      server:
        default:
          jms-queue:
            BizQueue:
              entries:
                - queue/biz
